body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choice-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    height: 10rem;
    width: 15rem;
}

#button-container{
    padding: 1rem;
}
#button-container button{
    height: 2rem;
    width: 4rem;
    margin: .2rem;
    text-align: center;
}

#grid-container{
    visibility: hidden;
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid; 
}

#result{
    visibility:hidden;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result button{
    height: 2rem;
    width: 4rem;
}